<%- include ('../partials/header') %> <%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1 style="font-family: Apercu; text-align: center;">You have logged out successfully!</h1>
  </div>
</main>

<%- include ('../partials/footer') %>