<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<main>
  <div class="container">
    <h1>Register</h1>
    <form action="/register" method="POST">
        <div class="mb-3">
            <label for="username" class="form-label">Username</label>
            <input class="form-control" type="text" id="email" name="username" aria-describedby="emailHelp"/>
        </div>
        <div class="mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" id="password" class="form-control" name="password"/>
        </div>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
    <div class="text-center">
        <p>Already have an account? <a href="/login">Login</a></p>
    </div>
  </div>
</main>

<%- include ('../partials/footer') %>